body {
  min-height: 3000px;
}

.section1 {
  padding-top: 8rem;
  background-color: #146a40;
  color: white;
}

.nav-bar {
  background-color: #0d4c2d !important;
  transition: 0.8s;
  /* z-index: 100; */
}
.navbar-brand {
  font-family: "Parisienne", cursive;
}

#projects {
  background-color: #146a40;
}

section {
  padding-top: 5rem;
  background-color: rgb(251, 251, 247);
}

#footer {
  background-color: #146a40;
}

hr {
  color: #ffc107;
  width: 25%;
  opacity: 100%;
  margin: 0 auto;
}
