body {
  min-height: 3000px;
}

.section1 {
  padding-top: 8rem;
  background-color: #146a40;
  color: white;
}

.nav-bar {
  background-color: #0d4c2d !important;
  transition: 0.8s;
  /* z-index: 100; */
}
.navbar-brand {
  font-family: "Parisienne", cursive;
}

#projects {
  background-color: #146a40;
}

#projects img:hover {
  transform: scale(0.9);
}

section {
  padding-top: 5rem;
  background-color: rgb(251, 251, 247);
}

.section-title h2 {
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background-color: #83827d;
  bottom: 1px;
  left: calc(50% - 80px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 4px;
  background-color: #ffc107;
  bottom: 0px;
  left: calc(50% - 20px);
}

#footer {
  background-color: #146a40;
}

hr {
  color: #ffc107;
  width: 25%;
  opacity: 100%;
  margin: 0 auto;
}
